<h1> Rock, Paper, Scissors        ExTREM3!!!! </h1>


<form name = "P1supa" class="" action="/results" method="post">
  <p>Player 1 Choice</p>
  <input type="radio" name="player1" value="0"> Rock<br>
  <input type="radio" name="player1" value="1"> Paper<br>
  <input type="radio" name="player1" value="2"> Scissors <br>
  <p>Player 2 Choice</p>
  <input type="radio" name="player2" value="0"> Rock<br>
  <input type="radio" name="player2" value="1"> Paper<br>
  <input type="radio" name="player2" value="2"> Scissors <br>
  <input type="submit" value="Submit">
</form>
